<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../layout/shared-styles.html">

<dom-module id="nylon-dialog">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .button {
                position: relative;
                display: inline-block;
                padding: 12px 24px;
                margin: .3em 0 1em 0;
                width: 100%;
                vertical-align: middle;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                -webkit-font-smoothing: antialiased;
                text-align: center;
                letter-spacing: 1px;
                background: transparent;
                border: 0;
                border-bottom: 2px;
                /* border-bottom: 2px solid #3160B6; */
                cursor: pointer;
                transition: all 0.15s ease;
            }

            .button:focus {
                outline: 0;
            }

            /* Button modifiers */

            .buttonBlue {
                background: #4a89dc;
                text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
            }

            .buttonBlue:hover {
                background: #357bd8;
            }

            #singOutDialog {
                margin-top: 40px;
            }
        </style>
        <paper-toast id="elToast" class="font">
            <iron-icon icon="[[icon]]"></iron-icon>&nbsp;&nbsp;[[msg]]
        </paper-toast>
        <paper-dialog id="elConfirm" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <h2 class="font">[[title]]</h2>
            <div class="font" style="margin-bottom: 15px;">[[msg]]</div>
            <div class="buttons">
                <paper-button class="font" dialog-dismiss on-click="takeAction" ans="cancel">
                    <iron-icon style="margin-right: 2px;" icon="cancel"></iron-icon>Cancel</paper-button>
                <paper-button class="font" dialog-confirm autofocus on-click="takeAction" ans="ok">
                    <iron-icon style="margin-right: 2px;" icon="delete"></iron-icon>OK</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog class="size-position" id="singOutDialog" no-overlap horizontal-align="right" vertical-align="top">
            <div class="row">
                <div class="col-md-3">
                    <img on-click="_img_click" class="img-circle" style="border-radius: 50%; width:100px; height:100px;" src="[[user.profile.photo_url]]">
                </div>
                <div style="margin: 0px;" class="col-md-9">
                    <h2 style="margin-left: 15px;" class="font">[[user.profile.first_name]] [[user.profile.last_name]]</h2>
                    <div style="margin-left: 15px;" class="font">[[user.email]]</div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="button buttonBlue font" on-click="singout">Sign Out</button>
            </div>
        </paper-dialog>
    </template>

    <script>
        class NylonDialog extends Polymer.Element {
            static get is() { return 'nylon-dialog'; }

            static get properties() {
                return {
                    title: String,
                    msg: String,
                    icon: String
                }
            }

            constructor() {
                super()
                Nylon.confirm = Nylon.confirm || {}
                Nylon.confirm = this.openConfirm.bind(this)

                Nylon.toast = Nylon.toast || {}
                Nylon.toast = this.openToast.bind(this)

                Nylon.singoutdialog = Nylon.singoutdialog || {}
                Nylon.singoutdialog = this.openSingOutDialog.bind(this)
            }

            connectedCallback() {
                super.connectedCallback()
                this.set_header()
            }

            set_header() {
                var self = this
                document.addEventListener('set_header', function (e) {
                    self.set_header_data()
                });
                if (localStorage.getItem('SMART_CITY_USER_ID') != null) {
                    self.set_header_data()
                } else {
                    // self.set_header_data()
                }
            }

            set_header_data() {
                this.set('user', Nylon.firebase.getUserData())
            }

            singout() {
                Nylon.firebase.logout()
                Nylon.redirect('login')
                this.$.singOutDialog.close()

            }

            openToast(op) {
                this.icon = op.icon || 'speaker-notes'
                this.msg = op.msg
                this.$.elToast.open()
            }

            openConfirm(op, callbackOk, callbackCancel) {
                this.icon = op.icon || 'speaker-notes'
                this.msg = op.msg
                this.title = op.title
                this.callbackOk = callbackOk
                this.callbackCancel = callbackCancel
                this.$.elConfirm.open()
            }

            openSingOutDialog() {
                this.$.singOutDialog.toggle()
            }

            takeAction(e) {
                if (e.currentTarget.getAttribute('ans') == "ok") {
                    this.callbackOk()
                } else {
                    if (this.callbackCancel)
                        this.callbackCancel()
                }
            }



        }

        window.customElements.define(NylonDialog.is, NylonDialog);
    </script>
</dom-module>