<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../components/nylon-panel-card/nylon-panel-card.html">
<link rel="import" href="../../../components/nylon-panel-right/nylon-panel-right.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../components/nylon-toolbar-selector/nylon-toolbar-selector.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../../bower_components/google-map/google-map-marker.html">

<link rel="import" href="../../../redux-mixin.html">
<link rel="import" href="../../../layout/shared-styles.html">

<dom-module id="page-gateway-map">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            google-map {
                height: 300px;
            }
        </style>

        <nylon-panel-right id="pr" title="Location Gateway">
            <nylon-toolbar-selector slot="header">
                <paper-tabs selected="0" scrollable>
                    <paper-tab class="font">Location</paper-tab>
                </paper-tabs>
            </nylon-toolbar-selector>
            <nylon-panel-card id="pc2" slot="content">
                <div slot="content">
                    <div class="row end-md">
                        <paper-button raised on-click="draggableMarker" class="font" style="margin-bottom: 10px;">
                            <iron-icon id="drag" icon="communication:location-off"></iron-icon>&nbsp;&nbsp;MARKER
                        </paper-button>
                        <paper-button raised class="btn-info font" on-click="_saveData">
                            <iron-icon icon="maps:my-location"></iron-icon>&nbsp;&nbsp;MY LOCATION
                        </paper-button>
                    </div>
                    <google-map latitude="37.77493" longitude="-122.41942" api-key="AIzaSyCLg7Eueu6MgEWeLXclyYsQtABQ3IQumpw" on-google-map-ready='_mapReady'
                        fit-to-markers>
                    </google-map>
                </div>
                <app-toolbar slot="footer">
                    <div main-title></div>
                    <paper-button raised on-click="_closePanelRight" class="font">
                        <iron-icon icon="clear"></iron-icon>&nbsp;&nbsp;CANCEL
                    </paper-button>
                    <paper-button raised class="btn-success font" on-click="_saveData">
                        <iron-icon icon="check"></iron-icon>&nbsp;&nbsp;SAVE
                    </paper-button>
                </app-toolbar>
            </nylon-panel-card>
        </nylon-panel-right>


    </template>

    <script>
        class PageGatewayMap extends ReduxMixin(Polymer.Element) {
            static get is() { return 'page-gateway-map'; }
            static get properties() {
                return {
                    i18n: {
                        type: Object,
                        statePath: 'i18n.pageMyView'
                    },
                    position: {
                        type: Object,
                        value: {
                            lat: null,
                            lng: null
                        }
                    }
                }
            }

            _mapReady(e) {
                this.gmap = e.currentTarget.map;
                // if (this.position.lat == 9999 || this.position.lng == 9999) {
                navigator.geolocation.getCurrentPosition((xposition) => {
                    this.position.lat = xposition.coords.latitude;
                    this.position.lng = xposition.coords.longitude;
                    this.markerCreated(this.position);
                });
                // } else {
                // this.markerCreated(this.position);
                // }
            }

            markerCreated(position) {
                var c = { lat: parseFloat(position.lat), lng: parseFloat(position.lng) };
                if (this.gmap) {
                    if (this.marker != null || this.marker != undefined) {
                        this.marker.setPosition(c);
                        this.gmap.setCenter(c);
                    } else {
                        this.gmap.setCenter(c);
                        this.marker = new google.maps.Marker({
                            position: c,
                            map: this.gmap
                            // draggable: true
                        });
                    }
                }
            }

            draggableMarker() {
                if (this.marker.getDraggable() === false || this.marker.getDraggable() == undefined) {
                    this.$.drag.icon = "communication:location-on";
                    this.marker.setDraggable(true);
                    this.dispatchEvent(
                        new CustomEvent('_draggable', {
                            bubbles: true, composed: true,
                            detail: {
                                enabled: false
                            }
                        })
                    );
                    var self = this;
                    // this.marker.addListener('dragend', function (event) {
                    //     self.position.lat = this.position.lat();
                    //     self.position.lng = this.position.lng();
                    //     self.updateLocation();
                    // });
                } else {
                    this.$.drag.icon = "communication:location-off";
                    this.marker.setDraggable(false);
                    // this.dispatchEvent(
                    //     new CustomEvent('_draggable', {
                    //         bubbles: true, composed: true,
                    //         detail: {
                    //             enabled: true
                    //         }
                    //     })
                    // );
                    // google.maps.event.clearInstanceListeners(this.marker);
                }
            }

            _closePanelRight() {
                this.$.pr.close()
            }

        }
        window.customElements.define(PageGatewayMap.is, PageGatewayMap);
    </script>
</dom-module>