<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../components/nylon-panel-card/nylon-panel-card.html">
<link rel="import" href="../../../components/nylon-panel-right/nylon-panel-right.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../components/nylon-toolbar-selector/nylon-toolbar-selector.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../components/nylon-c3/nylon-c3.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../../../redux-mixin.html">
<link rel="import" href="../../../layout/shared-styles.html">

<dom-module id="page-gateway-graph">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

        <nylon-panel-right id="pr" title="Manage Gateway">
            <nylon-toolbar-selector slot="header">
                <paper-tabs selected="0" scrollable>
                    <paper-tab class="font">Graph</paper-tab>
                </paper-tabs>
            </nylon-toolbar-selector>
            <nylon-panel-card id="pc2" slot="content">
                <div slot="content">
                    <!-- <vaadin-combo-box id="demo1-1" label="Element"></vaadin-combo-box> -->
                    <nylon-c3 slot="content" id="chart1"></nylon-c3>
                </div>

            </nylon-panel-card>
        </nylon-panel-right>
    </template>

    <script>
        class PageGatewayGraph extends ReduxMixin(Polymer.Element) {
            static get is() { return 'page-gateway-graph'; }
            static get properties() {
                return {
                    select: {
                        type: Object,
                        statePath: 'gateway.select'
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback()

                this.$.chart1.generate({
                    data: {
                        columns: [
                            ['data1', 30, 200, 100, 400, 150, 250],
                            ['data2', 50, 20, 10, 40, 15, 25]
                        ]
                    }
                })

            }

            _closePanelRight() {
                this.$.pr.close()
            }

            _saveData() {
                if (!this.select.id || this.select.id == "") {
                    Nylon.dispatch('GATEWAY_INSERT_DATA', this.select)
                } else {
                    Nylon.dispatch('GATEWAY_EDIT_DATA', this.select)
                }
            }
        }
        window.customElements.define(PageGatewayGraph.is, PageGatewayGraph);
    </script>
</dom-module>