<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../components/nylon-panel-card/nylon-panel-card.html">
<link rel="import" href="../../../components/nylon-panel-right/nylon-panel-right.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../components/nylon-toolbar-selector/nylon-toolbar-selector.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../../bower_components/google-map/google-map-marker.html">

<link rel="import" href="../../../redux-mixin.html">
<link rel="import" href="../../../layout/shared-styles.html">

<dom-module id="page-gateway-right">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            google-map {
                height: 400px;
                width: 700px;
            }
        </style>

        <nylon-panel-right id="pr" title="Manage Gateway">
            <nylon-toolbar-selector slot="header">
                <paper-tabs selected="0" scrollable>
                    <paper-tab class="font">Edit</paper-tab>
                </paper-tabs>
            </nylon-toolbar-selector>
            <nylon-panel-card id="pc2" slot="content">
                <div slot="content">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <paper-input always-float-label label="Mac Address" class="font" value="{{select.mac_address}}" char-counter maxlength="13"
                                required auto-validate error-message="needs some text!"></paper-input>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <paper-input always-float-label label="Desciption" class="font" value="{{select.desciption}}" required auto-validate error-message="needs some text!"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-top: 17px;">
                            <paper-button raised on-click="_modal" class="btn font">
                                <iron-icon icon="maps:pin-drop"></iron-icon>
                            </paper-button>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <paper-input always-float-label label="Latitude" class="font" value="{{select.position.lat}}" required auto-validate error-message="needs some text!"></paper-input>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <paper-input always-float-label label="Longitude" class="font" value="{{select.position.lng}}" required auto-validate error-message="needs some text!"></paper-input>
                        </div>

                    </div>
                </div>
                <app-toolbar slot="footer">
                    <div main-title></div>
                    <paper-button raised on-click="_closePanelRight" class="font">
                        <iron-icon icon="clear"></iron-icon>&nbsp;&nbsp;CANCEL
                    </paper-button>
                    <paper-button raised class="btn-success font" on-click="_saveData">
                        <iron-icon icon="check"></iron-icon>&nbsp;&nbsp;SAVE
                    </paper-button>
                </app-toolbar>
            </nylon-panel-card>
        </nylon-panel-right>



        <paper-dialog id="modal" modal>
            <div class="row end-md">
                <paper-button raised on-click="draggableMarker" class="font" style="margin-bottom: 10px;">
                    <iron-icon id="drag" icon="communication:location-off"></iron-icon>&nbsp;&nbsp;MARKER
                </paper-button>
                <paper-button raised class="btn-info font" on-click="myLocation">
                    <iron-icon icon="maps:my-location"></iron-icon>&nbsp;&nbsp;MY LOCATION
                </paper-button>
            </div>
            <google-map style="margin: 10px;" latitude="37.77493" longitude="-122.41942" api-key="AIzaSyCLg7Eueu6MgEWeLXclyYsQtABQ3IQumpw"
                on-google-map-ready='_mapReady' fit-to-markers>
            </google-map>
            <div class="row end-md">
                <!-- <paper-button raised class="btn-success font" on-click="_changeLocation">
                    <iron-icon icon="check"></iron-icon>&nbsp;&nbsp;SAVE
                </paper-button> -->
                <paper-button raised class="btn font" dialog-confirm>
                    <iron-icon icon="clear"></iron-icon>&nbsp;&nbsp;CLOSE
                </paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        class PageGatewayRight extends ReduxMixin(Polymer.Element) {
            static get is() { return 'page-gateway-right'; }
            static get properties() {
                return {
                    select: {
                        type: Object,
                        statePath: 'gateway.select'
                    },
                    position: {
                        type: Object
                    },
                    marker: {
                        type: Object,
                    },
                }
            }

            _modal() {
                if (!this.select.id || this.select.id == "") {
                    if (this.select.position.lat == undefined || this.select.position.lng == undefined) {
                        this.myLocation()
                    } else {
                        this.set('position', this.select.position)
                    }

                } else {
                    this.set('position', this.select.position)
                }
                this.$.drag.icon = "communication:location-off";
                this.marker.setDraggable(false);
                this.markerCreated(this.position);
                this.$.modal.open()
            }

            _closePanelRight() {
                this.$.pr.close()
            }

            _saveData() {
                if (!this.select.id || this.select.id == "") {
                    Nylon.dispatch('GATEWAY_INSERT_DATA', this.select)
                } else {
                    Nylon.dispatch('GATEWAY_EDIT_DATA', this.select)
                }
            }

            _mapReady(e) {
                this.gmap = e.currentTarget.map;
                navigator.geolocation.getCurrentPosition((xposition) => {
                    this.set('position', { lat: xposition.coords.latitude, lng: xposition.coords.longitude })
                    this.markerCreated(this.position);
                });
            }

            markerCreated(position) {
                var c = { lat: parseFloat(position.lat), lng: parseFloat(position.lng) };
                if (this.gmap) {
                    if (this.marker != null || this.marker != undefined) {
                        this.marker.setPosition(c);
                        this.gmap.setCenter(c);
                    } else {
                        this.gmap.setCenter(c);
                        this.marker = new google.maps.Marker({
                            position: c,
                            map: this.gmap
                        });
                    }
                }
            }

            draggableMarker() {
                if (this.marker.getDraggable() === false || this.marker.getDraggable() == undefined) {
                    this.$.drag.icon = "communication:location-on";
                    this.marker.setDraggable(true);
                    var self = this;
                    this.marker.addListener('dragend', function (event) {
                        self.set('select.position', { lat: this.position.lat(), lng: this.position.lng() })
                    });
                } else {
                    this.$.drag.icon = "communication:location-off";
                    this.marker.setDraggable(false);
                }
            }

            myLocation() {
                navigator.geolocation.getCurrentPosition((xposition) => {
                    this.set('select.position', { lat: xposition.coords.latitude, lng: xposition.coords.longitude })
                    this.set('position', { lat: xposition.coords.latitude, lng: xposition.coords.longitude })
                    this.markerCreated(this.position);
                });
            }
        }
        window.customElements.define(PageGatewayRight.is, PageGatewayRight);
    </script>
</dom-module>