<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../components/nylon-panel-card/nylon-panel-card.html">
<link rel="import" href="../../../components/nylon-panel-right/nylon-panel-right.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../components/nylon-toolbar-selector/nylon-toolbar-selector.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../components/nylon-c3/nylon-c3.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../../redux-mixin.html">
<link rel="import" href="../../../layout/shared-styles.html">

<dom-module id="page-plug-graph">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

        <nylon-panel-right id="pr" title="Graph Gateway">
            <nylon-toolbar-selector slot="header">
                <paper-tabs selected="0" scrollable>
                    <paper-tab class="font">Graph</paper-tab>
                </paper-tabs>
            </nylon-toolbar-selector>

            <nylon-panel-card id="pc2" slot="content">
                <div slot="content">
                    <!-- <div class="row"> -->
                    <!-- <paper-button raised on-click="select_type_change" class="font" id="sum">SUMMARY</paper-button> -->
                    <!-- <paper-button raised on-click="select_type_change" class="font" id="15m">15 MINNUTE</paper-button> -->
                    <!-- <paper-button raised on-click="select_type_change" class="font" id="1h">1 HOUR</paper-button> -->
                    <!-- </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="text-align: center; color:#03A9F4;">
                                [[graph_label]]
                            </h3>
                            <nylon-c3 slot="content" id="chart1"></nylon-c3>
                        </div>
                    </div>
                </div>

            </nylon-panel-card>
        </nylon-panel-right>
    </template>

    <script>
        class PagePlugGraph extends ReduxMixin(Polymer.Element) {
            static get is() { return 'page-plug-graph'; }
            static get properties() {
                return {
                    select: {
                        type: Object,
                        statePath: 'gateway.select'
                    },
                    type: {
                        type: Array,
                        value: [
                            { value: 'sum', name: "Summary" },
                            { value: '15m', name: "15 Minnute" },
                            { value: '1h', name: "1 Hour" }
                        ]
                    },
                    select_type: {
                        type: String,
                        value: 'sum'
                    },
                    graph: {
                        type: Array,
                        statePath: 'plug.graph',
                        observer: '_graph'
                    },
                    graph_label: {
                        type: String,
                        value: 'Loading ...'
                    },
                    days: {
                        type: Array,
                        value: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
                    },
                    monthNames: {
                        type: Array,
                        value: ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"]
                    }


                }
            }

            _avr(e) {
                var time = []
                for (let i in e) {
                    for (let index = 0; index < 24; index++) {
                        var a = e[i].timestamp.split('T')[1].split('.')[0].split(':')[0];
                        if (time[index] == undefined) {
                            time[index] = []
                        }
                        if (parseInt(a) == index) {
                            if (time[index] == undefined) {
                                time[index] = []
                            }
                            time[index - 1].push(e[i].electricity.watt / 1000)
                        }
                    }
                }

                var r = 0
                var avr = []
                for (let v in time) {
                    if (time[v].length == 0) {
                        time[v] = 0;
                    } else {
                        for (let k in time[v]) {
                            r = r + time[v][k]
                        }
                        time[v] = r / time[v].length
                        r = 0;
                    }
                }
                return time
            }

            _graph(e) {
                let now = []
                let yesterday = []
                let lastweek = []
                for (let i in e) {
                    if (e[i].now === true) {
                        now.push(e[i])
                    } else if (e[i].yesterday === true) {
                        yesterday.push(e[i])
                    } else if (e[i].lastweek === true) {
                        lastweek.push(e[i])
                    }
                }

                var a = this._avr(now)
                var a2 = ['A']
                var a3 = a2.concat(a);

                var c = this._avr(yesterday)
                var c2 = ['C']
                var c3 = c2.concat(c);

                var d = this._avr(lastweek)
                var d2 = ['D']
                var d3 = c2.concat(d);

                let self = this
                let date = new Date()

                setTimeout(function () {
                    self.set('graph_label', self.days[date.getDay()] + ', ' + self.monthNames[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear() + ' (Today)')
                    self.$.chart1.generate({
                        data: {
                            columns: [
                                a3,

                                c3,
                                d3
                            ],
                            type: 'bar',
                            types: {
                                C: 'spline',
                                D: 'spline'
                            },
                        },
                        axis: {
                            x: {
                                tick: {
                                    rotate: 75,
                                    multiline: false
                                },
                                height: 70,
                                label: 'Time',
                                type: 'category',
                                categories: ['01.00', '02.00', '03.00', '04.00', '05.00', '06.00',
                                    '07.00', '08.00', '09.00', '10.00', '11.00', '12.00',
                                    '13.00', '14.00', '15.00', '16.00', '17.00', '18.00',
                                    '19.00', '20.00', '21.00', '22.00', '23.00', '00.00']
                            },
                            y: {
                                label: {
                                    text: 'Active Power (kW)',
                                    position: 'outer-center'

                                }
                            }
                        },
                        color: {
                            pattern: ['#03A9F4', '#FF9800', '#AEEA00', '#795548']
                        }
                    })

                }, 100)

            }

            _closePanelRight() {
                this.$.pr.close()
            }

        }
        window.customElements.define(PagePlugGraph.is, PagePlugGraph);
    </script>
</dom-module>